pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from control_metadata",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Full Load Or Incremental Load",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().Incremental_Flag,'Y')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Fetching benchmark",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select max(@{item().WatermarkColumn}) as Watermark from @{item().Table_Schema}.@{item().Table_Name};\n            \n            ",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "SqlServerTable1",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@item().Table_Name\n\n",
														"type": "Expression"
													},
													"SchemaName": {
														"value": "@item().Table_Schema",
														"type": "Expression"
													}
												}
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Fetching benchmark",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().Table_Schema}.@{item().Table_Name} where @{item().WatermarkColumn}>'@{item().WatermarkValue}';",
													"type": "Expression"
												},
												"queryTimeout": "00:12:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "PreserveHierarchy"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SqlServerTable1",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@item().Table_Name",
														"type": "Expression"
													},
													"SchemaName": {
														"value": "@item().Table_Schema",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DelimitedText1",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@item().Table_Name",
														"type": "Expression"
													},
													"SchemaNAme": {
														"value": "@item().Table_Schema",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Lookup2",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Copy data1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "Update dbo.control_metadata set WatermarkValue='@{activity('Fetching benchmark').output.value[0].Watermark}' where Table_Name='@{item().Table_Name}' and Table_Schema='@{item().Table_Schema}'; Select 1 as Passed;",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "AzureSqlTable1",
												"type": "DatasetReference"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Bronze To Silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Bronze Layer Transformation"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver to Gold Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze To Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Silver To Bronze"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-12-04T18:48:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}